<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>demo-demo-repository</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>demo-demo-repository</id>
            <repositories>
                <repository>
                    <id>demo-demo-repository</id>
                    <url>https://048394383216.d.codeartifact.ap-south-1.amazonaws.com/maven/demo-repository/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
